.p-custom {
  font-size: 2rem;
}

.title-custom {
  font-size: 3rem;
  text-align: center;
}

.input-custom {
  font-size: 1.7rem;
}

.button-custom {
  font-size: 2rem;
  margin: 2.5rem;
}

.a-custom {
  text-decoration: none;
}

.reset-button {
  background-color: linear-gradient(to right bottom, #7dd56f, #28b487);
}
