.navbar {
  background-color: #444;
  padding: 0 2rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar-collapse {
  flex-direction: row-reverse;
}

.navbar-brand {
  text-transform: uppercase;
  font-size: 2.2rem;
  display: inline-flex;
  align-items: center;
  font-weight: 400;
}

.navbar-brand:hover {
  color: #28b487;
  transition: all 0.2s;
  font-family: inherit;
}

header {
  /* background-color: #444;
  padding: 0 2rem;
  height: 10rem;
  position: relative;
  z-index: 100;
  align-items: center; */
  background-color: #444;
  padding: 0 2rem;
  position: relative;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.btn1,
.btn1:link,
.btn1:visited {
  color: black;
  margin: 0.6rem;
  background-color: #f7f7f7;
  font-size: 1.7rem;
  padding: 0.6rem 2rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: none;
  cursor: pointer;
  align-items: center;
}

.btn1:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.dropdown-hover .dropdown-menu {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  font-size: 16px;
  line-height: 56px;
  color: #353030;
  font-weight: bold;
  transition: 0.3s;
  border-radius: 8px;
  display: none;
}

.dropdown-hover:hover .dropdown-menu {
  display: block;
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate3d(6.22222px, 100.444px, 0px);
  text-align: center;
}

.dropdown-menu .dropdown-item {
  display: block;
  padding: 0.5rem 1rem;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s;
}

.dropdown-menu .dropdown-item.active {
  background-color: #e6e6e6;
  font-weight: bold;
}

.card__picture-img-user-nav {
  object-fit: cover;
  border-radius: 50%;
  height: 95%;
  width: 65%;
  display: block;
  margin: 0 auto;
}

.navbar-logo {
  height: 10rem;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.navbar-nav {
  display: -webkit-inline-box;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.navbar-nav li {
  margin: 0 0.6rem;
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
  }

  .navbar-logo {
    margin-bottom: 1rem;
  }

  .navbar-nav {
    flex-basis: 100%;
    justify-content: flex-start;
    margin-top: 1rem;
  }

  .navbar-nav li {
    margin: 0;
    margin-bottom: 0.6rem;
  }
}
