.navbar {
  background-color: #f7f7f7;
  padding: 0 5rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.navbar-logo img {
  height: 3.5rem;
  margin: 0 auto;
}

.navbar-collapse {
  flex-direction: row-reverse;
}

.navbar-brand {
  text-transform: uppercase;
  font-size: 1.6rem;
  display: inline-flex;
  align-items: center;
  font-weight: 400;
}

.navbar-brand:hover {
  color: #28b487;
  transition: all 0.2s;
  font-family: inherit;
}

header {
  background-color: #f7f7f7;
  padding: 0 4rem;
  height: 7rem;
  position: relative;
  z-index: 100;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.btn {
  font-size: 1.6rem;
  padding: 0.6rem 2rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*Add later when we use this for the button in form*/
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
